
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Playfair:wght@400;600&display=swap');



$fontheading: 'Playfair', serif;
$fontbody:'Montserrat Alternates', sans-serif;
$colorbrown: #7f4f24;
$colordark: #2b2d42;
$colordarker: #1b263b;
$colorblack: #03071e;
$colorblacker: #001219;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontbody;

}
html{
    scroll-behavior: smooth;
    font-family: $fontbody;
}


    /*
    **
    ** @ Button component
    *
    */

.btn{
    display: inline-block;
    padding: .5rem 1.5rem;
    border: 1px solid grey;
    background: transparent;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 1rem;

    &:hover{
        transition: all .3s ease;
        background-color: gray;
        color: white;
    }
}

/*
** Nav component
*/

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 99;
    top: 0;
    height: 5rem;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 1rem 2rem;

    .float__left{
        width: 30%;
        // border: 1px solid red;
        ul{
            display: flex;
            align-items: center;
            gap: 1rem;

            li{
                list-style: none;
                font-weight: bold;
                font-size: .8rem;
                text-transform: uppercase;
                cursor: pointer;

                &:hover{
                    color: rgb(245, 149, 23);
                    transition: all .3s ease;
                }
            }
            
        }
    }

    .float__center {
        // margin-left: 3rem;
        width: 30%;
        // border: 1px solid red;
        text-align: center;

        h2{
            margin-bottom: -.5rem;
            cursor: pointer;
            font-family: $fontheading;
            font-size: 2rem;
            text-transform: uppercase;
        }
        span{
            font-size: .7rem;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    .float__right{
        width: 30%;
        margin-right: 2rem;
        
        ul{
            display: flex;
            gap: 1.5rem;
            align-items: center;
            justify-content: flex-end;

            li{
                list-style: none;
                font-size: 1.4rem;
                cursor: pointer;

                &:hover{
                    color: rgb(245, 149, 23);
                    transition: all .3s ease;
                }
            }
        }
    }
}

.main{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(../resources/images/bg/bg3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    // z-index: 99;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.8) 100%);
        // z-index:-1 ;

    }

    .hero{
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        height: 70vh;
        position: absolute;
        align-items: flex-start;
        justify-content: center;
        margin-left: 16rem;
        z-index: 99;

        span{
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            font-size: .8rem;
            color: $colorbrown;
        }
        h1{
            
            font-size: 3.5rem;
            font-family: $fontheading;

        }
        .line-para{
            display: flex;
            align-items: center;

            .line{
                height: .1rem;
                width: 6rem;
                background-color: gray;
                margin-right: 1rem;
            }
            p{
                font-size: .8rem;
                font-weight: bold;
            }
        }

        .hero-btn{
            margin-left: 7rem;
            font-size: .8rem;
            font-weight: bold;
            color: #fff;
        }

    }
}

.page2{
    height: 100%;
    width: 100%;
    padding: 3rem;
    background-color: $colorblacker;
    color: #fff;

    h2{
        text-align: center;
        font-size: 2rem;
        font-family: $fontheading;
        font-weight: 600;
    }
}

.icon{
    width: 15%;
    text-align: center;
    img{
        width: 2rem;
        height: 2rem;
    }
    h4{
        padding: .7rem 0;
        font-family: $fontheading;
        font-weight: 600;
        font-size: 1.2rem;
    }
    p{
        font-size: .8rem;
        font-weight: bold;
    }

}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem  4rem;
    // width: 70%;
    // border: 1px solid  white; debbugging
}

.container{
    padding: 0 2rem 2rem 2rem ;

    .Cont{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        height: 20rem;
        width: 100%;
        margin: 2rem 0; 

        img{
            width: 20rem;
            height: 20rem;
        }

        .float{
            width: 40%;
            text-align: left;
            padding: 2rem;

            h5{
                text-transform: uppercase;
                color: $colorbrown;
                font-size: .8rem;
                text-align: left;
            }
            h2{
                font-family: $fontheading;
                font-size: 2rem;
                text-align: left;
            }
            .lin{
                height: .2rem;
                width: 4rem;
                background: #3c3d44;
                text-align: left;
                margin: 1rem 0;
            }
            p{
                font-size: .8rem;
                font-weight: bold;
                margin-bottom: 1rem;
                padding-right: 4rem;
            }
            .shop{
                font-weight: bold;
                font-size: .9rem;
                margin-left: -.5rem;
                color: #fff;
            }
        }
    }
}

.list{
    // gap: 2rem;
    padding-bottom: .2rem;
    padding-left: 1rem;
    .ion{
        font-size: 1rem;
        padding-right: .5rem;
        
    }
    span{
        font-size: .9rem;
        font-weight: bold;
    }
}
.top{
    background-color: $colordark;
}
.bottom{
    background-color: $colorblack;
}

.products{
    width: 100%;
    height: 100%;
    background: $colorblacker;
    color: #fff;
    
    h3{
        text-align: center;
        font-family: $fontheading;
        font-size: 2rem;
        padding: 2rem 0;
    }
}

.parte1{
    margin: 0 10rem 1rem 10rem;
    // border: 1px solid white;

    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        li{
            list-style: none;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;

            &:hover{
                color: $colorbrown;
                transition: all .3s ease;
            }
        }
    }

    .gallery{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: -2rem;
    }
}

.box{
    // width: 20%;
    // height: 7rem;
    padding: 2rem 1rem;
    

    img{
        width: 8rem;
        height: 12rem;
        // border: 1px solid red;
    }

    .info{
        height: 5rem;
        h5{
            font-size: .7rem;
            font-weight: 600;
            padding: .6rem 0;
            text-align: left;
            margin-bottom: -.7rem;
        }

        .price{
            font-size: .6rem;
            font-weight: 600;
            color: $colorbrown;
            // margin-top: -2rem;

        }

        .butts{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            visibility: none;

            &:hover{
                visibility: visible;
            }

            .prod-btn{
                font-size: .6rem;
                font-weight: bold;
                color: #fff;
                background: transparent;
                border: 1px solid gray;
                padding: .4rem .3rem ;
                span{
                    padding-left: .2rem;
                }

                :hover{
                    font-size: .65rem;
                    transition: all .3s ease;
                }
            }

        }

    }
}

.banner{
    width: 100%;
    height: 35vh;
    background: url(../resources/images/banner5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    h3{
        text-align: left;
        padding-left: 17rem;
        margin-bottom: -1rem;
    }

    .dash{
        margin: 0 0 1rem 20rem;
        height: .2rem;
        width: 4rem;
        background-color: gray;
    }
    p{
        text-align: center;
        margin-left: 14rem;
        width: 30rem;
        font-weight: 600;
        font-size: .8rem;
    }
    .play{
        margin-left: 19rem;
        padding: 1rem 0 0 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: .8rem;

        #icon{
            font-size: 2rem;
            background-color: #7f4f24;
            border-radius: 50%;
        }

        span{
            font-size: .7rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}


.count{
    height: 40vh;
    width: 100%;
    position: relative;
    background-color: #000102;
    // border: 1px solid white;

    h4{
        position: absolute;
        top: 20%;
        left: 25%;
        z-index: 1;
        font-weight: bolder;
        font-size: 10rem;
        opacity: .1;
        text-transform: uppercase;
        // transform: translate(-50% -50%);
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        z-index: 99;

        .left{
            // border:  1px solid red;
            text-align: center;
            margin-top: 4rem;

            h5{
                color: #7f4f24;
                text-transform: uppercase;
                font-weight: 600;
                padding: 1rem 0;
                font-size: .8rem;
            }
            h2{
                font-family: $fontheading;
                font-size: 3rem;
                width: 20rem;
                font-weight: normal;
            }
            .dash{
                height: .2rem;
                width: 4rem;
                background-color: gray;
                margin: .5rem 0 1rem 8rem;
            }
        }

        .center{
            width: 12rem;
            height: 100%;
            // border: 1px solid white;
            margin-top: 2rem;

            img{
                width: 12rem;
                height: min-content;
                z-index: 99;
            }
        }

        .right{
            
            h3{
                font-size: 1.2rem;
                font-family: $fontbody;
                font-weight: 600;

                del{
                    color: $colorbrown;
                }
            }
            .hours{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem ;

                .line{
                    height: 1.5rem;
                    width: .2rem;
                    background-color: gray;
                    margin: 0 1rem;
                }

                span{
                    font-size: .8rem;
                    font-weight: bold;
                    text-transform: uppercase;

                    h5{
                        font-size: 2rem;
                        margin-bottom: -1rem;
                    }
                }
            }

            .count-btn{
                font-size: .8rem;
                text-transform: uppercase;
                font-weight: 600;
                border: none;
                background: transparent;
                color: #7f4f24;
                margin: 1rem 0 0 2rem;
                cursor: pointer;
                // width: rem;
                display: inline-flex;

                &:hover{
                    gap: .4rem;
                }

                
            }
        }
    }
}

.review{
   height: 40vh;
   width: 100%;
//    border: 1px solid white;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   background-color: #000102;

   
   .image{
    // border: 1px solid red;
    width: 50%;
    background: url(../resources/images/dr4.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // margin-left: -10rem;
   }
   .float__right{
    padding-left: 10rem;
    position: relative;
    text-align: right;
    padding-right: 1rem;
    h3{
        font-size: 1.3rem;
        text-align: right;
    }
    .info{

        img{
            // border: 1px solid pink;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
        h3{

            color: #7f4f24;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $fontbody;
        }
        h5{
            font-weight: bold;
            font-size: .8rem;
            margin-top: -2rem;
        }
        p{
            // border: 1px solid red;
            width: 20rem;
            padding: 1rem 0;
        }
        
    }
    .navigation{
        // padding: .2rem 1rem;
        font-size: 1.7rem;
        color: #7f4f24;
        margin: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;
        &:hover{
            color: #422104;
            transition: all .3s ease;
        }
    }
   }
}

/* blog & footer page */

.last__part{
    height: 100%;
    width: 100%;
    background-color: #001219;
    color: #fff;
}

.blogs{
    padding: 2rem;
    position: relative;

    h2{
        text-align: center;
        font-family: $fontheading;
        font-size: 2rem;
    }
    
    .blog__gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
    }

    .dash{
        position: absolute;
        width: 70vw;
        height: .1rem;
        background-color: #2b2d42;
        margin: 2rem 10rem;
    }
}

.blog{
    margin-top: 1.4rem;
    height: 18rem;
    width: 12rem;
    // border: 1px solid white;

    img{
        width: 100%;
        height: 13rem;
    }
    .content{
        padding: .5rem 0;

        :nth-child(1){
            font-size: .9rem;
            font-weight: 600;
            opacity: .7;
        }
        :nth-child(2){
            font-size: .7rem;
            font-weight: bold;
            padding-top: .3rem;
            opacity: .5;
        }
    }
}