@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Playfair:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat Alternates", sans-serif;
}

/*
**
** @ Button component
*
*/
.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid grey;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1rem;
  color: #fff;
}
.btn:hover {
  transition: all 0.3s ease;
  background-color: gray;
  color: white;
}

/*
** Nav component
*/
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 99;
  top: 0;
  height: 5rem;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
}
.nav .float__left {
  width: 30%;
}
.nav .float__left ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav .float__left ul li {
  list-style: none;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
}
.nav .float__left ul li:hover {
  color: rgb(245, 149, 23);
  transition: all 0.3s ease;
}
.nav .float__center {
  width: 30%;
  text-align: center;
}
.nav .float__center h2 {
  margin-bottom: -0.5rem;
  cursor: pointer;
  font-family: "Playfair", serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.nav .float__center span {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
}
.nav .float__right {
  width: 30%;
  margin-right: 2rem;
}
.nav .float__right ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-end;
}
.nav .float__right ul li {
  list-style: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.nav .float__right ul li:hover {
  color: rgb(245, 149, 23);
  transition: all 0.3s ease;
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(../resources/images/bg/bg3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) 100%);
}
.main .hero {
  display: flex;
  flex-direction: column;
  height: 70vh;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
  margin-left: 16rem;
  z-index: 99;
}
.main .hero span {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #7f4f24;
}
.main .hero h1 {
  font-size: 3.5rem;
  font-family: "Playfair", serif;
}
.main .hero .line-para {
  display: flex;
  align-items: center;
}
.main .hero .line-para .line {
  height: 0.1rem;
  width: 6rem;
  background-color: gray;
  margin-right: 1rem;
}
.main .hero .line-para p {
  font-size: 0.8rem;
  font-weight: bold;
}
.main .hero .hero-btn {
  margin-left: 7rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
}

.page2 {
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: #001219;
  color: #fff;
}
.page2 h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Playfair", serif;
  font-weight: 600;
}

.icon {
  width: 15%;
  text-align: center;
}
.icon img {
  width: 2rem;
  height: 2rem;
}
.icon h4 {
  padding: 0.7rem 0;
  font-family: "Playfair", serif;
  font-weight: 600;
  font-size: 1.2rem;
}
.icon p {
  font-size: 0.8rem;
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 3rem 4rem;
}

.container {
  padding: 0 2rem 2rem 2rem;
}
.container .Cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 20rem;
  width: 100%;
  margin: 2rem 0;
}
.container .Cont img {
  width: 20rem;
  height: 20rem;
}
.container .Cont .float {
  width: 40%;
  text-align: left;
  padding: 2rem;
}
.container .Cont .float h5 {
  text-transform: uppercase;
  color: #7f4f24;
  font-size: 0.8rem;
  text-align: left;
}
.container .Cont .float h2 {
  font-family: "Playfair", serif;
  font-size: 2rem;
  text-align: left;
}
.container .Cont .float .lin {
  height: 0.2rem;
  width: 4rem;
  background: #3c3d44;
  text-align: left;
  margin: 1rem 0;
}
.container .Cont .float p {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-right: 4rem;
}
.container .Cont .float .shop {
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: -0.5rem;
  color: #fff;
}

.list {
  padding-bottom: 0.2rem;
  padding-left: 1rem;
}
.list .ion {
  font-size: 1rem;
  padding-right: 0.5rem;
}
.list span {
  font-size: 0.9rem;
  font-weight: bold;
}

.top {
  background-color: #2b2d42;
}

.bottom {
  background-color: #03071e;
}

.products {
  width: 100%;
  height: 100%;
  background: #001219;
  color: #fff;
}
.products h3 {
  text-align: center;
  font-family: "Playfair", serif;
  font-size: 2rem;
  padding: 2rem 0;
}

.parte1 {
  margin: 0 10rem 1rem 10rem;
}
.parte1 .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.parte1 .menu li {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.parte1 .menu li:hover {
  color: #7f4f24;
  transition: all 0.3s ease;
}
.parte1 .gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -2rem;
}

.box {
  padding: 2rem 1rem;
}
.box img {
  width: 8rem;
  height: 12rem;
}
.box .info {
  height: 5rem;
}
.box .info h5 {
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.6rem 0;
  text-align: left;
  margin-bottom: -0.7rem;
}
.box .info .price {
  font-size: 0.6rem;
  font-weight: 600;
  color: #7f4f24;
}
.box .info .butts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  visibility: none;
}
.box .info .butts:hover {
  visibility: visible;
}
.box .info .butts .prod-btn {
  font-size: 0.6rem;
  font-weight: bold;
  color: #fff;
  background: transparent;
  border: 1px solid gray;
  padding: 0.4rem 0.3rem;
  cursor: pointer;
}
.box .info .butts .prod-btn span {
  padding-left: 0.2rem;
}
.box .info .butts .prod-btn :hover {
  font-size: 0.63rem;
  transition: all 0.3s ease;
}

.banner {
  width: 100%;
  height: 35vh;
  background: url(../resources/images/banner5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.banner h3 {
  text-align: left;
  padding-left: 17rem;
  margin-bottom: -1rem;
}
.banner .dash {
  margin: 0 0 1rem 20rem;
  height: 0.2rem;
  width: 4rem;
  background-color: gray;
}
.banner p {
  text-align: center;
  margin-left: 14rem;
  width: 30rem;
  font-weight: 600;
  font-size: 0.8rem;
}
.banner .play {
  margin-left: 19rem;
  padding: 1rem 0 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.banner .play #icon {
  font-size: 2rem;
  background-color: #7f4f24;
  border-radius: 50%;
  cursor: pointer;
}
.banner .play span {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.count {
  height: 40vh;
  width: 100%;
  position: relative;
  background-color: #000102;
}
.count h4 {
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 1;
  font-weight: bolder;
  font-size: 10rem;
  opacity: 0.1;
  text-transform: uppercase;
}
.count .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 99;
}
.count .content .left {
  text-align: center;
  margin-top: 4rem;
}
.count .content .left h5 {
  color: #7f4f24;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 0;
  font-size: 0.8rem;
}
.count .content .left h2 {
  font-family: "Playfair", serif;
  font-size: 3rem;
  width: 20rem;
  font-weight: normal;
}
.count .content .left .dash {
  height: 0.2rem;
  width: 4rem;
  background-color: gray;
  margin: 0.5rem 0 1rem 8rem;
}
.count .content .center {
  width: 12rem;
  height: 100%;
  margin-top: 2rem;
}
.count .content .center img {
  width: 12rem;
  height: -moz-min-content;
  height: min-content;
  z-index: 99;
}
.count .content .right h3 {
  font-size: 1.2rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}
.count .content .right h3 del {
  color: #7f4f24;
}
.count .content .right .hours {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.count .content .right .hours .line {
  height: 1.5rem;
  width: 0.2rem;
  background-color: gray;
  margin: 0 1rem;
}
.count .content .right .hours span {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
.count .content .right .hours span h5 {
  font-size: 2rem;
  margin-bottom: -1rem;
}
.count .content .right .count-btn {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background: transparent;
  color: #7f4f24;
  margin: 1rem 0 0 2rem;
  cursor: pointer;
  display: inline-flex;
}
.count .content .right .count-btn:hover {
  gap: 0.4rem;
}

.review {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #000a14;
}
.review .image {
  width: 50%;
  background: url(../resources/images/dr4.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.review .float__right {
  padding-left: 10rem;
  position: relative;
  text-align: right;
  padding-right: 1rem;
}
.review .float__right h3 {
  font-size: 1.3rem;
  text-align: right;
}
.review .float__right .info img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.review .float__right .info h3 {
  color: #7f4f24;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
}
.review .float__right .info h5 {
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: -2rem;
}
.review .float__right .info p {
  width: 20rem;
  padding: 1rem 0;
  font-size: 0.8rem;
}
.review .float__right .navigation {
  font-size: 1.7rem;
  color: #7f4f24;
  margin: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.review .float__right .navigation:hover {
  color: #422104;
  transition: all 0.3s ease;
}

/* blog & footer page */
.last__part {
  height: 100%;
  width: 100%;
  background-color: #001219;
  color: #fff;
}

.blogs {
  padding: 2rem;
  position: relative;
}
.blogs h2 {
  text-align: center;
  font-family: "Playfair", serif;
  font-size: 2rem;
}
.blogs .blog__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.blogs .dash {
  position: absolute;
  width: 70vw;
  height: 0.1rem;
  background-color: #2b2d42;
  margin: 2rem 10rem;
}

.blog {
  margin-top: 1.4rem;
  height: 18rem;
  width: 12rem;
}
.blog img {
  width: 100%;
  height: 13rem;
}
.blog .content {
  padding: 0.5rem 0;
}
.blog .content :nth-child(1) {
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.7;
}
.blog .content :nth-child(2) {
  font-size: 0.7rem;
  font-weight: bold;
  padding-top: 0.3rem;
  opacity: 0.5;
}

.newsletter {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.newsletter h3 {
  font-family: "Playfair", serif;
  font-size: 2rem;
  padding: 1rem 0;
}
.newsletter span {
  font-weight: 600;
  font-size: 0.8rem;
}
.newsletter .input {
  padding: 1rem 0;
}
.newsletter .input #email {
  padding: 0.6rem 7rem;
  background: #1b263b;
  border: none;
  color: #fff;
}
.newsletter .input button {
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.foot .foot-bt {
  margin: 1rem 0;
  border: none;
  background: transparent;
}
.foot .foot-bt a {
  text-decoration: none;
  color: #fff;
}
.foot .foot-bt a h5 {
  font-weight: 600;
  font-size: 0.8rem;
}
.foot .foot-bt a h5:hover {
  padding-top: 0.3rem;
}
.foot .dash {
  width: 100%;
  height: 0.2rem;
  margin: 0 5rem;
  background-color: #1b263b;
}
.foot ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.foot ul li {
  list-style: none;
  font-weight: 600;
  font-size: 0.8rem;
  opacity: 0.7;
  text-transform: uppercase;
  padding: 0.5rem 0;
  cursor: pointer;
}
.foot ul li:hover {
  color: #7f4f24;
  transition: all 0.2s ease;
}
.foot .furthest__end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 0;
  gap: 2.9rem;
}
.foot .furthest__end .logo {
  text-align: center;
  text-transform: uppercase;
}
.foot .furthest__end .logo h2 {
  font-family: "Playfair", serif;
  font-size: 2rem;
  margin-bottom: -0.7rem;
}
.foot .furthest__end .logo span {
  letter-spacing: 0.3rem;
  font-weight: 600;
  font-size: 0.6rem;
}
.foot .furthest__end .social {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot .furthest__end .social .icons {
  padding: 0.6rem;
  margin: -0.3rem;
}
.foot .furthest__end .social h5 {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.7;
}
.foot .furthest__end .social h5 IonIcon {
  font-size: 1rem;
}
.foot .furthest__end .location {
  font-weight: 600;
}
.foot .furthest__end .location h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}
.foot .furthest__end .location span {
  font-size: 0.8rem;
  opacity: 0.7;
}
.foot .furthest__end .hotline {
  font-weight: 600;
}
.foot .furthest__end .hotline h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}
.foot .furthest__end .hotline span {
  font-size: 0.8rem;
  opacity: 0.7;
}
.foot .furthest__end .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.foot .furthest__end .cards :nth-child(2), .foot .furthest__end .cards :nth-child(3) {
  color: #7f4f24;
}
.foot .furthest__end .cards img {
  height: 2rem;
  width: auto;
}/*# sourceMappingURL=app.css.map */